

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  .main{
    width: 900px;
    margin: 0 auto;
    position: relative;
  }
  .item{
    width:calc(100% / 3);
    float: left;
  }
   .item img{
      width: 100%;
   }
